*{
    margin: 0;
    padding: 0;
    font-family:'Poppins',sans-serif;
    box-sizing:border-box;
}
.hero{
    width:100%;
    min-height:100vh;
    background: linear-gradient(45deg, #010758, #490d61);
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    color: aliceblue;
}
.hero h1{
  font-size:45px;
  font-weight:500 ;
  margin-top:-50px;
  margin-bottom: 50px;
}
.hero h1 span{
    color: rgb(36, 233, 121);
}
textarea{
    width:500px;
    height:400px;
    background: #8784cc;
    margin-bottom: 50px;
    border-radius: 10px;
    font-size:25px ;
    padding-left:20px;
    padding-top: 10px;
    color: antiquewhite;
    resize:none;   
}
textarea::placeholder{
   color: bisque; 
}
.row{
    align-items: center;
    display: flex;
    gap:20px;
}
button{
    background:  rgb(36, 233, 121);
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 35px;
    border:0;
    outline:0;
    cursor: pointer;
    font-weight: 600;
}
select{
    width:300px;
    color: rgb(0, 0, 0);
    background-color: rgb(36, 233, 121);
    height:45px;
    padding-right: 30px;
    border-radius: 35px;
    appearance:none;
    background-image: url('https://creazilla-store.fra1.digitaloceanspaces.com/icons/3219306/arrow-drop-down-icon-md.png');
    background-size:37px;
    background-repeat: no-repeat;
    background-position: 260px;
    padding-left:20px;
    font-size: 19px;
    cursor: pointer;
}
.options{
 display:flex;
 position: left;
}
